<?xml version="1.0" encoding="utf-8"?>
<ae:configurations
    xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0"
    xmlns="http://agavi.org/agavi/config/parts/autoload/1.0"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <ae:configuration>
        <autoloads>
            <autoload name="ScpLayerExport">%core.app_dir%/project/lib/Export/ScpLayerExport.class.php</autoload>
            <autoload name="ElasticSearchLayerExport">%core.app_dir%/project/lib/Export/ElasticSearchLayerExport.class.php</autoload>
            <autoload name="KmlRenderer">%core.app_dir%/project/lib/Export/KmlRenderer.class.php</autoload>
        </autoloads>
    </ae:configuration>
</ae:configurations>
